# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyc
*.pyo
*.pyd
*.db

# Env
env/
.env
venv
.venv
venv/

# Django
*.log
*.pot
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Migrations
**/migrations/*.py
**/migrations/__pycache__/

# OS
.DS_Store
Thumbs.db